__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.git/
.idea/
.vscode/

*.zip
*.tar
*.tar.gz

results/
cache/

data/
data 1/
photos/
objects/

SAM/
ViT/
local_bioclip_model/
local_blip_model/
local_grounding_dino_tiny_model/
local_owlv2_model/
