torch
torchvision
open_clip_torch
numpy
pandas
openpyxl
requests
opencv-python-headless
python-dotenv
pillow
transformers
ultralytics
langchain
langchain-gigachat
langchain-core
langchain-community
tqdm
ftfy 
regex
git+https://github.com/openai/CLIP.git
einops
timm
beautifulsoup4
