# --- dsapi параметры ---
API_AUTH_TOKEN=generate-a-random-token

BOT_DOMAIN=http://backend:5555
BOT_TEST_QUERY_PATH=/test_query

REMOTE_OLLAMA_URL=http://host.docker.internal:11434
REMOTE_MODEL=qwen3:30b
REMOTE_VL_MODEL=qwen3-vl:32b

PATH_TEMPLATES_EXCEL=/app/doc/template_sen.xlsx
PATH_OFF_LIST_EXCEL=/app/doc/OFF_actual.xlsx
PATH_LOCAL_MODELS=/app/local_models
PATH_RESULTS_DIR=/app/results
PATH_LOGS_DIR=/app/logs
